html {
  height: 100%;
  overflow-y: hidden; /* no vertical scroll bar, all overflow is hidden*/
}

body {
  min-height: 100%; /* body is at LEASt the height of the window*/
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04aa6d; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04aa6d; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.grid {
  position: absolute; /* fills the whole window screen */
  top: 70px;
  right: 0;
  bottom: 0;
  left: 0;
  border: 15px solid orange;
}
.title {
  text-align: center;
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  font-weight: bold;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.button-container {
  display: flex; /* flexbox display so buttons grow/shrink with window size*/
  flex-wrap: wrap; /* buttons continue on next row  */

  gap: 5px; /* gap between buttons */

  border-style: solid;
  border-color: red;
  padding: 10px 10px 10px 10px;
  width: 100%; /* fills the whole div space */
  height: 50%;
}

.grid-item {
  flex: 1 1 auto; /* all buttons grow and shrink at the same rate */
  min-width: 100px; /* min width of buttons, once window becomes too small, buttons continue on next row */
}

.button {
  border-radius: 8px; /* roundness of buttons */
  width: 100%; /* 100% to fill the whole flexbox cell*/
  height: 100%;
  background-color: navajowhite; /* LOL this is colour of the button */
}
